{% extends "bootstrap/base.html" %}

{% block title %}learn.d3.js{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">learn.d3.js</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
    </div>
    <div class="button">
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" charset="utf-8"
        src="{{ url_for('static', filename='d3.min.js') }}"></script>
    <script type="text/javascript">
        var width = 800;
        var height = 600;

        var color = d3.schemeCategory10;
        var dataset = d3.range(color.length);
        console.log(dataset);

        var svg = d3.select(".page-header").append("svg")
            .attr("height", height)
            .attr("width", width);

        var xScale = d3.scaleLinear()
            .domain([0, 10])
            .range([0, width]);

        var axisBottom = d3.axisBottom()
            .scale(xScale);
        var bAxis = svg.append("g")
            .attr("transform", "translate(0, 70)")
        axisBottom(bAxis);

        console.log(color);
        var circle = svg.selectAll("circle")
            .data(dataset)
            .enter()
            .append("circle")
            .attr("cx", function(d, i){ return 30 + i * 80;})
            .attr("cy", 100)
            .attr("r", 30)
            .attr("fill", function(d, i){ return color[i];});

        var axisTop = d3.axisTop()
            .scale(xScale);
        var tAxis = svg.append("g")
            .attr("transform", "translate(0, 130)")
        tAxis.call(axisTop);

        var axisRight = d3.axisRight()
            .scale(xScale)
            .ticks(10)
            .tickSize(-8, 16)
            .tickValues([0 , 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]);
        var tAxis = svg.append("g")
            .attr("transform", "translate(100, 0)")
        tAxis.call(axisRight);
    </script>
{% endblock %}
