{% extends "bootstrap/base.html" %}

{% block title %}learn.d3.js{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">learn.d3.js</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <p></p>
        <p></p>
        <p></p>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" charset="utf-8"
        src="{{ url_for('static', filename='d3.min.js') }}"></script>
    <script type="text/javascript">
        var numbers = [54, 23, 67, 45, 89, 12];
        // sort ascending
        numbers.sort(d3.ascending);
        console.log(numbers);
        // sort descending
        numbers.sort(d3.descending);
        console.log(numbers);
        // min max extent
        console.log(d3.min(numbers));
        console.log(d3.max(numbers));
        console.log(d3.extent(numbers));
        // min max extent with function
        console.log(d3.min(numbers, function(d){ return d * 3; }));
        console.log(d3.max(numbers, function(d){ return d - 5; }));
        console.log(d3.extent(numbers, function(d){ return d % 7; }));
        // sum
        console.log(d3.mean(numbers));
        console.log(d3.sum(numbers, function(d){ return d / 3; }));
        // quantile
        console.log(d3.quantile(numbers, 0.25));
        console.log(d3.quantile(numbers, 0.50));
        console.log(d3.quantile(numbers, 0.75));
        console.log(d3.quantile(numbers, 1.00));
        // variance and deviation
        console.log(d3.variance(numbers));
        console.log(d3.deviation(numbers));
    </script>
{% endblock %}