{% extends "bootstrap/base.html" %}

{% block title %}learn.d3.js{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">learn.d3.js</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <p></p>
        <p></p>
        <p></p>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" charset="utf-8"
        src="{{ url_for('static', filename='d3.min.js') }}"></script>
    <script type="text/javascript">
        var dataset = [
            {id: 1000, color: "red" },
            {id: 1001, color: "blue" },
            {id: 1002, color: "green" },
        ];
        var map = d3.map(dataset, function(d){
            return d.id;
        });
        // true false
        console.log(map.has(1001));
        console.log(map.has(1003));
        // { id: 1001, color: "red" }
        console.log(map.get(1001))
        // undefined
        console.log(map.get(1003))
        console.log(map.set(1001, { id: 1001, color: "yellow" }))
        console.log(map.set(1003, { id: 1003, color: "white" }))
        // remove 1001
        console.log(map.remove(1001));
        console.log(map.keys());
        console.log(map.values());
        console.log(map.entries());
        // Uncaught TypeError: map.forEach is not a function
        map.forEach(function(key, value){
            console.log(key);
            console.log(value);
        });
        console.log(map.empty());
        console.log(map.size());
    </script>
{% endblock %}